<% if notice.present? %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<% if Current.user %>
  <%= render @slot %>

  <div>

  </div>
  <div>
    <%= link_to "Edit this slot", edit_slot_path(@slot) %> |
    <%= link_to "Back to slots", slots_path %>

    <%= button_to "Destroy this slot", @slot, method: :delete %>
  </div>

  <div>
    <%= link_to "Search a date for this time slot", new_meeting_path(time_slot: params[:id]) %>
  </div>

<% end %>
