<h1>Edit Personal Details</h1>

<%= form_with(model: Current.user, url: edit_profile_path, data: { turbo: false }) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.password_field :password, class: "form-control", placeholder: "password", id: "floatingPass" %>
    <%= form.label :password, class: "form-label", for: "floatingPass" %>

  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password", id: "floatingPassConfirm"  %>
    <%= form.label :password_confirmation, class: "form-label", for: "floatingPassConfirm" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_area :details, class: "form-control", placeholder: "Tell us about yourself", id: "floatingDetails"%>
    <%= form.label :details, class: "form-label", for: "floatingDetails" %>

  </div>

  <div class="mb-3">
    <%= form.label :avatar, class: "form-label"  %>
    <% if Current.user.avatar.attached? %>
      <%= image_tag Current.user.avatar, style: "width: 200px; display: block" %>
    <% end %>
    <%= form.file_field :avatar, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>