<div id="<%= dom_id meeting %>">
  <p>
    <strong>Starts at:</strong>
    <%= meeting.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= meeting.ends_at %>
  </p>

  <p>
    <strong>First user:</strong>
    <%= meeting.first_user_id %>
  </p>

  <p>
    <strong>Second user:</strong>
    <%= meeting.second_user_id %>
  </p>

</div>
