<div id="<%= dom_id meeting %>" class="pt-3">
  <p class="">
    <strong>Date: </strong>
    <%= meeting.starts_at.strftime("%A %b %d, %Y")  %>
  </p>

  <p class="">
    <strong>Starting Time: </strong>
    <%= meeting.starts_at.strftime("%I:%M %p")  %>
  </p>

  <p class="">
    <strong>Ending Time: </strong>
    <%= meeting.ends_at.strftime("%I:%M %p")  %>
  </p>

  <p>
    <strong>First Attendant:</strong>
    <%= meeting.first_user.first_name %> <%= meeting.first_user.last_name %>
  </p>

  <p>
    <strong>Second Attendant:</strong>
    <%= meeting.second_user.first_name %> <%= meeting.second_user.last_name %>
  </p>

</div>
