<% if notice.present? %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<h1>Search Result</h1>

<% if @matches.present? %>
  <h2>Parameters:</h2>
  <div id="meetings">
    <p>
      <strong>Meeting will starts at:</strong>
      <%= @start_time %>
    </p>

    <p>
      <strong>Duration: 1hr</strong>
      <%#= @ends_time %>
    </p>
    <h2>Matches:</h2>

    <div class="d-flex flex-row flex-wrap">
      <% @matches.each do |match| %>
        <div class="card mx-1 my-1" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= match.first_name %> <%= match.last_name %></h5>
            <h6 class="card-text text-muted"><%= match.details %></h6>

            <%= form_for @meeting do |form| %>
              <%= form.hidden_field :starts_at, value: params[:start_time] %>
              <%= form.hidden_field :ends_at, value: (params[:start_time].to_datetime + 1.hours).to_s %>
              <%= form.hidden_field :first_user_id, value: params[:first_user] %>
              <%#= hidden_field_tag 'second_user_id', match.id %>
              <%= form.hidden_field :second_user_id, value: match.id %>
              <%= form.submit "Set up a meeting", :class => 'btn btn-success'%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

<% end %>


<%= link_to "Back to slots", slots_path %>