<h1>Sign Up</h1>

<%= form_with(model: @user, url: sign_up_path, data: { turbo: false }) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-floating mb-3">
    <%= form.text_field :email, class: "form-control", placeholder: "steve@next.com", id: "floatEmail" %>
    <%= form.label :email, for: "floatEmail" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password, class: "form-control", placeholder: "password", id: "floatPass" %>
    <%= form.label :password, for: "floatPass" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password", id: "floatPassCon" %>
    <%= form.label :password_confirmation, for: "floatPassCon" %>

  </div>
  <div class="form-floating mb-3">
    <%= form.text_field :first_name, class: "form-control", placeholder: "John", id: "floatFName" %>
    <%= form.label :first_name, for: "floatFName" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Doe", id: "floatLName" %>
    <%= form.label :last_name, for: "floatLName" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_area :details, class: "form-control", placeholder: "Tell us about yourself", id: "floatDetails" %>
    <%= form.label :details, for: "floatDetails" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>